
body{
    background-color: rgba(5, 0, 0, 0.973);
}

#app{
height: 100vh;

} 

#new{
    height: 100vh;
}

#trendings{
    height: 100vh;
}

#more_info{
    height: 100vh;
}

#week{
    height: 100vh;
} 